* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
}
.container {
    width: 1440px;
    height: 1533px;
    background-color: #E5E5E5;
    padding-top: 218px;
    display: flex;
    justify-content: center;
}

.box {
    width: 23px;
    height: 23px;
    background-color: yellow;
    margin-right: 22px;
}
 
