* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 1440px;
    height: 1533px;
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 160px;
}

.vital {
    display: flex;
    flex-direction: row;

}
.green-box {
  width: 23px;
  height: 23px;
  background: #84F9C1;
}

.box-blue {
    width: 23px;
    height: 23px;
    background-color: blue;
    margin-right: 22px;

}

.sam {
    display: flex;
    flex-direction: row;
}

.box-yellow {
    width: 23px;
    height: 23px;
    background-color: yellow;
    margin-right: 22px;
}
